@font-face {
    font-family: weblysleekuil;
    src: url(../fonts/weblysleekuil.ttf);
}

.text1{
	font-size:90px;
	font-family:weblysleekuil, sans-sarif;
	color:white;
	text-align: left;
	margin-left: 45px;
	margin-top: 250px;
	}
.text2{
	font-size:70px;
	font-family:weblysleekuil, sans-sarif;
	color:white;
	text-align: left;
	margin-left: 45px;
	margin-top: 20px;
}

.subText{
	font-size:45px;
	font-family:weblysleekuil, sans-sarif;
	color:white;
	text-align: left;
	margin-left: 225px;
	margin-top: 20px;
}

.navbar{
	font-size:24px;
	font-family: weblysleekuil, sans-sarif;
	color: white;
	text-align: right;
	margin-right: 25px;
	margin-top:30px;
	padding: 15px;
}
.navbar a:link, .navbar a:visited {
	text-decoration: none; color:white;
}

.navline{
	background-color:white;
	margin-bottom:30px;
	height: 2px;
	width: 3000px;
}

.box{
	background-color: white;
	margin-left: 100px;
	margin-top: 25px;
	height:620px;
	width:750px;

}

.newsBox{
	background-color: white;
	margin-left: 100px;
	margin-top: 25px;
	height:370px;
	width:750px;

}
.formBox{
	background-color: white;
	margin-left: 100px;
	margin-top: 25px;
	height:200px;
	width:200px;

}


.form{
	font-family: weblysleekuil, sans-sarif;

}

.aboutText {
	font-family: weblysleekuil, sans-sarif;
	padding: 20px;
}

.newsText {
	font-family: weblysleekuil, sans-sarif;
	padding: 20px;
}

.donate {
	color: green;
	background-color: white;
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
	border-bottom-right-radius: 30px;
	border-bottom-left-radius:30px;
}