@font-face {
    font-family: weblysleekuil;
    src: url(../fonts/weblysleekuil.ttf);
}

.text1{
	font-size:90px;
	font-family:weblysleekuil, sans-sarif;
	color:white;
	text-shadow:1px 1px black;
	text-align: left;
	margin-left: 45px;
	margin-top: 150px;
	}
.text2{
	font-size:70px;
	font-family:weblysleekuil, sans-sarif;
	text-shadow:1px 1px black;
	color:white;
	text-align: left;
	margin-left: 45px;
	margin-top: 20px;
}


.subText{
	font-size:45px;
	font-family:weblysleekuil, sans-sarif;
	text-shadow:1px 1px black;
	color:white;
	text-align: left;
	margin-left: 275px;
	margin-top: 0px;
}



.navbar{
	font-size:24px;
	font-family: weblysleekuil, sans-sarif;
	color: white;
	text-shadow:1px 1px black;
	text-align: right;
	margin-right: 25px;
	margin-top:30px;
	padding: 15px;
}
.navbar a:link, .navbar a:visited {
	text-decoration: none; color:white;
}
.navbar li a {
	font-size: 24px;
}
.navline{
	background-color:white;
	margin-bottom:30px;
	height: 2px;
	width: 3000px;
}

.aboutBox{
	background-color: white;
	margin: auto;
	margin-top: 25px;
	height:620px;
	width:750px;

}

.newsBox{
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	height:370px;
	width:750px;

}

#socialIcons{
	width: 70%:;
	float: right;
	margin-right: auto;
	padding-right: 20px;
	margin-top: -95px;

}

.photobody{
	margin:auto;
}


.formBox{
	margin-left: auto;
	margin-right: auto;
	height:230px;
	width:500px;


}


.form{
	font-family: weblysleekuil, sans-sarif;
	color:white;
	background-color:black; 
	background opacity: 50%;
	padding:30px;

}

.aboutText {
	font-family: weblysleekuil, sans-sarif;
	padding: 20px;
}


.newsText {
	font-family: weblysleekuil, sans-sarif;
	padding: 20px;
}

.donate {
	
	background-color: white;
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
	border-bottom-right-radius: 30px;
	border-bottom-left-radius:30px;
	padding: 8px 6px;


}
.donate a, .donate a:visited, .donate a:link {
	color: black;
	text-shadow: none;
}

.formText{
	text-align: center;
	font-size: 30px;
	position: relative;
	float:right;
  	top: -175px;
  	line-height: 0.5;
  	font-family: weblysleekuil, sans-sarif;

}


footer {
	text-align: center;
	font-size: 12pt;
	clear:both;
	color: white;
	font-family: weblysleekuil, sans-sarif;
	padding: 40px;

}