@font-face {
    font-family: weblysleekuil;
    src: url(../fonts/weblysleekuil.ttf);
}

.text1{
	font-size:90px;
	font-family:weblysleekuil, sans-sarif;
	color:white;
	text-align: left;
	margin-left: 45px;
	margin-top: 250px;
	}
.text2{
	font-size:70px;
	font-family:weblysleekuil, sans-sarif;
	color:white;
	text-align: left;
	margin-left: 45px;
	margin-top: 20px;
}

.navbar{
	font-size:24px;
	font-family: weblysleekuil, sans-sarif;
	color: white;
	text-align: right;
	margin-right: 25px;
	margin-top:30px;
}
.navbar a:link, .navbar a:visited {
	text-decoration: none; color:white;
}

.navline{
	background-color:white;
	margin-bottom:30px;
	height: 2px;
	width: 3000px;
}

.box{
	background-color: white;
	margin-left: 100px;
	margin-top: 25px;
	height:500px;
	width:750px;

}

.form{
	font-family: weblysleekuil, sans-sarif;
}